<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodrunner">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".CatManagement.Activity.DinnerAdmin"></activity>
        <activity android:name=".CatManagement.Activity.LunchAdmin" />
        <activity android:name=".CatManagement.Activity.BreakfastAdmin" />
        <activity android:name=".CatManagement.Activity.Dinner" />
        <activity android:name=".CatManagement.Activity.Lunch" />
        <activity android:name=".CatManagement.Activity.Breakfast" />
        <activity android:name=".CatManagement.Activity.DeleteItem" />
        <activity android:name=".CatManagement.Activity.AddItem" />
        <activity android:name=".CartManagement.Model.ui.ListShoppingList"></activity>
        <activity android:name=".CartManagement.Model.ui.CreateShoppingList" />
        <activity android:name=".payment.OnlinePayment" />
        <activity android:name=".payment.payondelivery" />
        <activity android:name=".CartMainActivity" />

        <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBc0cU5JCP7s-T7S8sVDYAX1ToJTuYhqWc"/>

        <activity android:name=".FinalDelivery" />

        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".Delivery" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity">
        </activity>
    </application>

</manifest>